{% extends 'base.html' %}

{% block title %}
注册
{% endblock %}

{% block script %}
<script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
{% endblock %}

{% block content %}
<!--account-->
<div class="account">
    <div class="container">
        <div class="register">
            <form method="post" action="/register/">
                {% csrf_token %}
                <div class="register-top-grid">
                    <h3>注册</h3>
                    <div class="input">
                        <span>账号<label>*</label></span>
                        <input type="text" name="username">
                    </div>
                    <div class="input">
                        <span>昵称<label>*</label></span>
                        <input type="text" name="nick_name">
                    </div>

                    <div class="input">
                        <span>密码<label>*</label></span>
                        <input type="text" name="password">
                    </div>

                    <div class="input">
                        <span>确认密码<label>*</label></span>
                        <input type="text" name="password1">
                    </div>
                    <div class="input">
                        <span>邮箱<label>*</label></span>
                        <input type="text" name="email">
                    </div>
                    <div class="input">
                        <span>电话<label>*</label></span>
                        <input type="text" name="moblie">
                    </div>
                    <a class="news-letter" href="#">
                        <label class="checkbox">
                            <input type="checkbox" name="checkbox" checked="">
                            <i> </i>
                            remember me
                        </label>
                    </a>
                    <div class="clearfix"></div>
                </div>

                <!--<div class="register-bottom-grid">
                    <h3>Login information</h3>
                    <div class="input">
                        <span>Password<label>*</label></span>
                        <input type="password">
                    </div>
                    <div class="input">
                        <span>Confirm Password<label>*</label></span>
                        <input type="password">
                    </div>
                </div>
            </form>
            <div class="clearfix"></div>
            <div class="register-but">
                <form>-->
                    <button type="submit" class="btn btn-info">submit</button>
                    <div class="clearfix"></div>
                <!--<div class="input-group" style="margin: 0px auto;">
                    <button type="button" onclick="submitForm()" class="btn btn-success">注册</button>
                </div>-->
            </form>
        </div>
    </div>
</div>
</div>
<!--//account-->
{% endblock %}

