{% extends 'base.html' %}

{% block title %}
首页
{% endblock %}

{% block script %}
<script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>


{% endblock %}

{% block content %}

<!--banner-->
<div class="banner">
    <div class="container">
        <h2 class="hdng">Yummy <span>Cakes</span> for u</h2>
        <p>Our best cakes make your day special</p>
        <a href="products.html">SHOP NOW</a>
        <div class="banner-text">
            <img src="/static/images/2.png" alt=""/>
        </div>
    </div>
</div>
<!--//banner-->
<div class="copyrights">Collect from <a href="http://www.cssmoban.com/">企业网站模板</a></div>
<!--gallery-->
<div class="gallery">
    <div class="container">
        <div class="gallery-grids">
            <div class="col-md-8 gallery-grid glry-one">
{#                <a href="products.html"><img src="/static/images/g1.jpg" class="img-responsive" alt=""/>#}
                <a href="/cakelistview/?cake_id={{ d }}"><img src="{{ d_cake_img }}" class="img-responsive" alt="" style="width: 730px;height: 417.85px"/>
                    <div class="gallery-info">
                        <p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> view</p>
                        <a class="shop" href="single.html">SHOP NOW</a>
                        <div class="clearfix"></div>
                    </div>
                </a>
                <div class="galy-info">
                    <p>{{ d_cake_name }}</p>
                    <div class="galry">
                        <div class="prices">
                            <h5 class="item_price">￥{{ d_cake_price }}</h5>
                        </div>
                        <div class="rating">
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 gallery-grid glry-two">
                <a href="/cakelistview/?cake_id={{ x }}"><img src="{{ x_cake_img }}" class="img-responsive" alt="" style="width: 350px;height: 418.6px"/>
{#                <a href="products.html"><img src="/static/images/g2.jpg" class="img-responsive" alt=""/>#}
                    <div class="gallery-info galrr-info-two">
                        <p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> view</p>
                        <a class="shop" href="single.html">SHOP NOW</a>
                        <div class="clearfix"></div>
                    </div>
                </a>
                <div class="galy-info">
                    <p>{{ x_cake_name }}</p>
                    <div class="galry">
                        <div class="prices">
                            <h5 class="item_price">￥{{ x_cake_price }}</h5>
                        </div>
                        <div class="rating">
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            {% for li in lis %}
                <div class="col-md-3 gallery-grid ">
                    <a href="/cakelistview/?cake_id={{ li.cake_id }}"><img src="{{ li.cake_img }}" class="img-responsive" alt=""/>
                        <div class="gallery-info">
                            <p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> view</p>
                            <a class="shop" href="single.html">SHOP NOW</a>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                    <div class="galy-info">
                        <p>{{ li.cake_name }}</p>
                        <div class="galry">
                            <div class="prices">
                                <h5 class="item_price">￥{{ li.cake_price }}</h5>
                            </div>
                            <div class="rating">
                                <span>☆</span>
                                <span>☆</span>
                                <span>☆</span>
                                <span>☆</span>
                                <span>☆</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!--//gallery-->
<!--subscribe-->
<div class="subscribe">
    <div class="container">
        <h3>Newsletter</h3>
        <form>
            <input type="text" class="text" value="Email" onFocus="this.value = '';"
                   onBlur="if (this.value == '') {this.value = 'Email';}">
            <input type="submit" value="Subscribe">
        </form>
    </div>
</div>
<!--//subscribe-->

{% endblock %}

