{% extends 'base.html' %}

{% block title %}
    {{ classify }}
{% endblock %}

{% block script %}
    <!-- Custom Theme files -->

    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>

    <!-- the jScrollPane script -->
    <script type="text/javascript" src="/static/js/jquery.jscrollpane.min.js"></script>
    <script type="text/javascript" id="sourcecode">
        $(function () {
            $('.scroll-pane').jScrollPane();
        });
    </script>
    <!-- //the jScrollPane script -->
    <script type="text/javascript" src="/static/js/jquery.mousewheel.js"></script>
    <!-- the mousewheel plugin -->
{% endblock %}

{% block content %}
    <!--products-->
    <div class="products">
        <div class="container">
            <h2>{{ classify }}</h2>
            <div class="col-md-9 product-model-sec">
                {% for cake, img in cakes %}
                    <div class="product-grid">
                        <a href="/cakelistview/?cake_id={{ cake.id }}">
                            <div class="more-product"><span> </span></div>
                            <div class="product-img b-link-stripe b-animate-go  thickbox">
                                <img src="{{ img|first }}" class="img-responsive" alt="">
                                <div class="b-wrapper">
                                    <h4 class="b-animate b-from-left  b-delay03">
                                        <button>View</button>
                                    </h4>
                                </div>
                            </div>
                        </a>
                        <div class="product-info simpleCart_shelfItem">
                            <div class="product-info-cust prt_name">
                                <h4>{{ cake.cake_name }}</h4>
                                <span class="item_price">{{ cake.cake_discount }}</span>
                                <div class="ofr">
                                    <p class="pric1">
                                        <del>{{ cake.cake_price }}</del>
                                    </p>
                                    <p class="disc">[15% Off]</p>
                                </div>
                                <input type="text" class="item_quantity" value="1" id="number{{ cake.id }}"/>
                                <input id="{{ cake.id }}" type="button" class="item_add items" value="Add">
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {% for i in page.paginator.page_range %}
                            {% if page.number == i %}
                                <li class="active">
                                    {% else %}
                                <li>
                            {% endif %}
                        {% if thirdly %}
                            <a href="/more?page={{ i }}+{{ type }}" aria-label="Previous"><span
                                    aria-hidden="true">{{ i }}</span></a>
                        {% else %}
                            <a href="/cake?page={{ i }}&type={{ type }}&value={{ classify }}"
                               aria-label="Previous"><span
                                    aria-hidden="true">{{ i }}</span></a>
                        {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            <!-- left menu -->
            <div class="col-md-3 rsidebar span_1_of_left">
                {% for datum, child in data.items %}
                    <section class="sky-form">
                        <h4><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>{{ datum }}</h4>
                        <div class="row row1 scroll-pane">
                            <div class="col col-4">
                                {% for c in child %}
                                    <label class="radio"><a href="/more/?page=1&type={{ classify }}&second={{ datum }}&thirdly={{ c }}"><input type="radio" name="checkbox"><i></i>{{ c }}</a></label>
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                {% endfor %}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--//products-->
    <script>
        {#console.log($("input[value='Add']"));#}
        $("input[value='Add']").click(function () {
            var cake_id = this.getAttribute('id');
            var number = $("#number" + cake_id).attr('value');
            $.get('/tj_shopping/', {'cake_id': cake_id, 'number': number}, function (data) {
                alert(data.msg);
            });
        });
    </script>
{% endblock %}
