{% extends "base.html" %}

{% block title %}
    {{ cake.cake_name }}
{% endblock %}
{% block script %}
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <script src="/static/js/imagezoom.js"></script>
    <script defer src="/static/js/jquery.flexslider.js"></script>
    <link rel="stylesheet" href="/static/css/flexslider.css" type="text/css" media="screen"/>
    <script>
        // Can also be used with $(document).ready()
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>

    <style type="text/css">
        #1 {
            width: 500px;
            height: 500px;
            margin: 0 auto;
        }
    </style>
    <!--//FlexSlider -->
{% endblock %}

{% block content %}
    <!--//single-page-->
    <div class="single">
        <div class="container">
            <div class="single-grids">
                <div class="col-md-6 single-grid">
                    <div class="flexslider">
                        <ul class="slides">

                            {% for cakeimg in cakeimgs %}
                                <li data-thumb="{{ cakeimg }}">
                                    <div class="thumb-image">
                                        <img src="{{ cakeimg }}" data-imagezoom="true" class="img-responsive">
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 single-grid simpleCart_shelfItem" id="1">

                    <h2>{{ cake.cake_name }}</h2>
                    <!--<p>
                            Cake cutting is one of the most wonderful ways of celebrating a special moment. What better way to celebrate than with a rich and mouth watering chocochips cake
                        </p>-->

                    <ul class="size">
                        <h3>口味</h3>
                        <li>{{ cake.cake_flavour.flavour }}</li>
                    </ul>

                    <ul class="size">
                        <h3>重量</h3>
                        <li>{{ cake.cake_weight.weight }}kg</li>
                    </ul>

                    <ul class="size">
                        <h3>使用对象</h3>
                        <li>{{ cake.cake_relation.relation }}</li>
                    </ul>

                    <ul class="size">
                        <h3>主题</h3>
                        <li>{{ cake.cake_theme.theme }}</li>
                    </ul>

                    <ul class="size">
                        <h3>价格</h3>
                        <li>
                            <div class="galry">
                                <div class="prices">
                                    <h5 class="item_price">${{ cake.cake_discount }}</h5>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                        </li>
                    </ul>

                    <p class="qty"> Qty : </p><input min="1" type="number" id="quantity" title="{{ cake.id }}"
                                                     name="quantity" value="1"
                                                     class="form-control input-small">
                    <div class="btn_form">
                        <a href="#" id="{{ cake.id }}" class="add-cart item_add" title="add">ADD TO CART</a>
                    </div>
                    <!--<div class="tag">
                        <p>Category : {{ cake.cake_categories_id.cake_type }}</p>
                        <p>Tag : <a href="#"> Lorem ipsum </a></p>
                    </div>-->
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- collapse -->
    <div class="collpse tabs">
        <div class="container">
            <div class="panel-group collpse" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                               aria-expanded="true" aria-controls="collapseOne">
                                Description
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingOne">
                        {% for img_001 in img_lis %}
                            <div>
                                <img src="{{ img_001 }}" data-imagezoom="true" class="img-responsive">
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--//collapse -->
    <!--related-products-->
    <div class="related-products">
        <div class="container">
            <h3>Related Products</h3>

            <div class="product-model-sec single-product-grids">
                {% for tag in tags %}
                    <div class="product-grid single-product">
                        <a href="/cakelistview/?cake_id={{ tag.id }}">
                            <div class="more-product"><span> </span></div>
                            <div class="product-img b-link-stripe b-animate-go  thickbox">
                                <img src="{{ tag.cake_img }}" class="img-responsive" alt="">
                                <div class="b-wrapper">
                                    <h4 class="b-animate b-from-left  b-delay03">
                                        <button>View</button>
                                    </h4>
                                </div>
                            </div>
                        </a>
                        <div class="product-info simpleCart_shelfItem">
                            <div class="product-info-cust prt_name">
                                <h4>{{ tag.cake_name }}</h4>
                                <span class="item_price">${{ tag.cake_discount }}</span>
                                <div class="ofr">
                                    <p class="pric1">
                                        <del>${{ tag.cake_price }}</del>
                                    </p>
                                    <p class="disc">[15% Off]</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--related-products-->
    <script>
        $('a[title="add"]').click(function () {
            var cake_id = this.getAttribute('id');
            var number = $("input[title='"+ cake_id+"']").attr('value');
            console.log(number);
            $.get('/tj_shopping/', {'cake_id': cake_id, 'number': number}, function (data) {
                alert(data.msg);
                console.log(cake_id);
            });
        });
    </script>
{% endblock %}


